Repository AlbinaBlazhko17/amazon-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --file, prettier --write

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["next lint --fix --file", "prettier --write"],
	"*.{json,yml,yaml,css,md,mdx}": ["prettier --write"]
}

fix: eslint and prettier config, add tailwind prettier config
  .prettierrc
  eslint.config.mjs
Due: none

chore: install tailwind dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: run formatting
  package.json
  postcss.config.mjs
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: next lint --fix --file, prettier --write

chore: clean eslint config
  eslint.config.mjs
Due: none

chore: remove duplicates
  .prettierrc
Due: none

feat: add alias to styles folder
  tsconfig.json
Due: prettier --write

feat: add proper folder structure for styles and basic colors
  src/app/globals.css
  src/app/layout.tsx
  src/styles/globals.css
Due: next lint --fix --file, prettier --write

feat: add shadcn library
  components.json
  package-lock.json
  package.json
  src/lib/utils/cn.ts
  src/lib/utils/index.ts
Due: next lint --fix --file, prettier --write

feat: add fonts
  src/app/layout.tsx
  src/lib/constants/font.ts
  src/lib/constants/index.ts
  src/styles/globals.css
Due: next lint --fix --file, prettier --write

feat: setup storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.tsx
Due: next lint --fix --file, prettier --write

feat: add text component
  src/components/common/Text/Text.stories.tsx
  src/components/common/Text/Text.tsx
  src/components/common/Text/index.ts
Due: next lint --fix --file, prettier --write

feat: add favicon
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  src/app/layout.tsx
Due: next lint --fix --file, prettier --write

chore: remove files
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
Due: none

feat: add icons and implement icon component
  src/assets/icons/cart.svg
  src/assets/icons/favorites.svg
  src/assets/icons/index.ts
  src/assets/icons/logo.svg
  src/assets/icons/search.svg
  src/assets/icons/user.svg
  src/components/common/Icon/Icon.tsx
  src/components/common/Icon/index.ts
Due: next lint --fix --file, prettier --write

feat: add input component
  src/components/ui/input/index.ts
  src/components/ui/input/input.stories.tsx
  src/components/ui/input/input.tsx
Due: next lint --fix --file, prettier --write

feat: setup svgr
  next.config.ts
  package-lock.json
  package.json
Due: next lint --fix --file, prettier --write

feat: add assets alias
  tsconfig.json
Due: prettier --write

feat: add search input
  src/components/common/Inputs/SearchInput/SearchInput.stories.tsx
  src/components/common/Inputs/SearchInput/SearchInput.tsx
  src/components/common/Inputs/SearchInput/index.ts
Due: next lint --fix --file, prettier --write

feat: add button component
  src/components/ui/button/button.stories.tsx
  src/components/ui/button/button.tsx
  src/components/ui/button/index.ts
Due: next lint --fix --file, prettier --write

feat: add nav link component
  src/components/common/NavLink/ExternalLink.tsx
  src/components/common/NavLink/NavLink.stories.tsx
  src/components/common/NavLink/NavLink.tsx
  src/components/common/NavLink/index.ts
Due: next lint --fix --file, prettier --write

feat: add public api to components folder
  src/components/common/Inputs/index.ts
  src/components/common/index.ts
  src/components/ui/index.ts
Due: next lint --fix --file, prettier --write

feat: improve styles
  src/styles/globals.css
Due: prettier --write

feat: add header component
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/common/Inputs/SearchInput/SearchInput.tsx
  src/components/layout/Header/ExpandableSearch.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/index.ts
  src/lib/constants/index.ts
  src/lib/constants/links.ts
  src/lib/types/index.ts
  src/lib/types/links.ts
Due: next lint --fix --file, prettier --write

fix: change hooks path
  .prettierrc
Due: none

feat: add use click outside hook
  src/lib/hooks/index.ts
  src/lib/hooks/use-check-outside-click.tsx
Due: next lint --fix --file, prettier --write

feat: add mobile nav menu
  src/assets/icons/index.ts
  src/components/common/Inputs/SearchInput/SearchInput.tsx
  src/components/layout/Header/ExpandableSearch.tsx
  src/components/layout/Header/Header.tsx
  src/components/layout/Header/MobileMenu.tsx
Due: next lint --fix --file, prettier --write

feat: add http module
  src/lib/modules/http/base-http.ts
  src/lib/modules/http/index.ts
  src/lib/modules/http/libs/enums/http-code.ts
  src/lib/modules/http/libs/enums/http-content-type.ts
  src/lib/modules/http/libs/enums/http-header.ts
  src/lib/modules/http/libs/enums/http-method.ts
  src/lib/modules/http/libs/enums/index.ts
  src/lib/modules/http/libs/exceptions/http-error.ts
  src/lib/modules/http/libs/exceptions/index.ts
  src/lib/modules/http/libs/types/http-method.ts
  src/lib/modules/http/libs/types/http-mime-type.ts
  src/lib/modules/http/libs/types/http-module.ts
  src/lib/modules/http/libs/types/http-options.ts
  src/lib/modules/http/libs/types/index.ts
Due: next lint --fix --file, prettier --write

feat: add storage module
  src/lib/modules/storage/index.ts
  src/lib/modules/storage/libs/enums/index.ts
  src/lib/modules/storage/libs/enums/storage-key.enum.ts
  src/lib/modules/storage/libs/enums/storage-type.enum.ts
  src/lib/modules/storage/libs/types/index.ts
  src/lib/modules/storage/libs/types/storage.type.ts
  src/lib/modules/storage/libs/utils/get-storage.util.ts
  src/lib/modules/storage/libs/utils/index.ts
  src/lib/modules/storage/libs/utils/memory-storage.ts
  src/lib/modules/storage/storage.module.ts
Due: next lint --fix --file, prettier --write

feat: add and setup react query
  package-lock.json
  package.json
  src/app/layout.tsx
  src/lib/enums/index.ts
  src/lib/enums/query-base-key.ts
  src/lib/modules/query-client/index.ts
  src/lib/modules/query-client/query-client.ts
  src/lib/modules/query-client/react-client-provider.tsx
  src/lib/types/index.ts
  src/lib/types/value-of.ts
Due: next lint --fix --file, prettier --write

feat: add types for api response and case converter
  src/lib/types/api-response.ts
  src/lib/types/case-converter.ts
  src/lib/types/index.ts
Due: next lint --fix --file, prettier --write

feat: implement case converter and configure url
  src/lib/utils/case-converter.ts
  src/lib/utils/configure-url-string.ts
  src/lib/utils/index.ts
Due: next lint --fix --file, prettier --write

feat: implement base api module
  src/lib/modules/api/base-api.module.ts
  src/lib/modules/api/index.ts
  src/lib/modules/api/libs/types/http-api-options.type.ts
  src/lib/modules/api/libs/types/http-api-response.type.ts
  src/lib/modules/api/libs/types/http-api.type.ts
  src/lib/modules/api/libs/types/index.ts
Due: next lint --fix --file, prettier --write

feat: add modules and features aliases
  .prettierrc
  tsconfig.json
Due: prettier --write

feat: add type to response
  src/lib/modules/api/base-api.module.ts
  src/lib/types/api-response.ts
  src/lib/types/index.ts
Due: next lint --fix --file, prettier --write

feat: add config module to validate env variables
  src/lib/enums/api-path.ts
  src/lib/enums/app-environment.ts
  src/lib/enums/index.ts
  src/lib/modules/config/app-config.module.ts
  src/lib/modules/config/index.ts
  src/lib/modules/config/libs/schemas/env.schema.ts
  src/lib/modules/config/libs/schemas/index.ts
  src/lib/modules/config/libs/types/environment-schema.type.ts
  src/lib/modules/config/libs/types/index.ts
Due: next lint --fix --file, prettier --write

feat: implement debounce hook
  src/lib/hooks/index.ts
  src/lib/hooks/use-debounced-state.ts
Due: next lint --fix --file, prettier --write

chore: install zod
  package-lock.json
  package.json
Due: prettier --write

feat: setup inside next config url to images
  next.config.ts
Due: next lint --fix --file, prettier --write

feat: implement function to convert filters into url query string
  src/lib/utils/convert-filters-to-query.ts
  src/lib/utils/index.ts
Due: next lint --fix --file, prettier --write

feat: add products module, setup products api, add types and hooks
  src/modules/products/index.ts
  src/modules/products/lib/api/index.ts
  src/modules/products/lib/api/products.api.ts
  src/modules/products/lib/hooks/index.ts
  src/modules/products/lib/hooks/use-get-products-query.ts
  src/modules/products/lib/index.ts
  src/modules/products/lib/types/index.ts
  src/modules/products/lib/types/product-filters.ts
  src/modules/products/lib/types/product-response.ts
Due: next lint --fix --file, prettier --write
